[build]
target = "index.html"
dist = "dist"

[[hooks]]
stage = "pre_build"
command = "sh"
command_arguments = [
    "-c", 
    "cd ../../ && cargo run --features=bin --release -- -m storage -p examples/yew-example-storage/src/ fixtures/index.json"]
